html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
svg {
  width: 50px;
  stroke: black;
  fill: transparent;
}
input:hover ~ label svg {
  stroke: brown;
  fill: yellow;
}
input:checked ~ label svg {
  fill: orange;
}
div {
  display: inline-block;
  border: 1px solid gray;
  margin: 10px 10px;
  direction: rtl;
}
input {
  display: none;
}
